<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~ 
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~ 
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.apache.linkis.gateway.ruler.datasource.dao.DatasourceMapMapper">

    <select id="listAll" resultType="org.apache.linkis.gateway.ruler.datasource.entity.DatasourceMap">
        SELECT * from linkis_datasource_map
    </select>

    <update id="createTableIfNotExists">
        CREATE TABLE IF NOT EXISTS linkis.linkis_datasource_map (
            `datasource_name` varchar(50),
            `instance` varchar(50),
            `service_id` varchar(50),
            PRIMARY KEY (`datasource_name`)
        )
    </update>

    <insert id="insert" parameterType="org.apache.linkis.gateway.ruler.datasource.entity.DatasourceMap">
        insert into linkis_datasource_map(datasource_name, instance, service_id) values (#{datasourceName}, #{instance}, #{serviceId})
    </insert>

    <select id="countByInstance" parameterType="String" resultType="Long">
        select count(*) from linkis_datasource_map where instance = #{instance}
    </select>

    <select id="getByDatasource" parameterType="String" resultType="org.apache.linkis.gateway.ruler.datasource.entity.DatasourceMap">
        select * from linkis_datasource_map where datasource_name = #{datasourceName}
    </select>


    <delete id="cleanBadInstances" parameterType="java.util.Set">
        delete from linkis_datasource_map
        where instance in
            <foreach collection="badInstances" index="index" item="item" open="(" separator="," close=")">
                item
            </foreach>
    </delete>

</mapper>