@import '@/common/style/variables.scss';
.search-bar {
  .search-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $font-size-base;
    .lable {
      flex-basis: 120px;
      text-align: center;
    }
  }
  .search {
    margin-left: 25px;
  }
  .jump{
    margin-left: 25px;
  }
}
.table-content {
  margin-top: 25px;
  .name {
    color:$primary-color;
  }
  .unlock {
    color: $success-color;
  }
  .lock {
    color: $error-color;
  }
  .text-button {
    color:$primary-color;
    cursor: pointer;
  }
}
.page-bar {
  text-align: center;
  padding: 10px 0;
}
.microService {
  /deep/ .ivu-tag {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /deep/ .ivu-tooltip-inner {
    max-width: 100%;
  }
}