<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="org.apache.linkis.gateway.authentication.dao.TokenDao">

    <resultMap id="tokenEntityMap" type="org.apache.linkis.gateway.authentication.entity.TokenEntity"
               autoMapping="false">
        <id property="id" column="id"/>
        <result property="tokenName" column="token_name"/>
        <result property="legalUsersStr" column="legal_users"/>
        <result property="legalHostsStr" column="legal_hosts"/>
        <result property="businessOwner" column="business_owner"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="elapseDay" column="elapse_day"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="tableName">linkis_mg_gateway_auth_token</sql>

    <select id="selectTokenByName" parameterType="java.lang.String" resultMap="tokenEntityMap">
        SELECT * FROM
        <include refid="tableName"/>
        <where>
            token_name = #{tokenName}
        </where>
    </select>

    <select id="getAllTokens" resultMap="tokenEntityMap">
        SELECT * FROM
        <include refid="tableName"/>
    </select>


</mapper>
