<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 WeBank
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.webank.wedatasphere.linkis.manager.dao.LabelManagerMapper">

    <select id="dimListNodeRelationsByKeyValueMap" resultType="java.util.HashMap">
        <foreach collection="keyValueMap" index="key" item="value" separator="union all">
            SELECT l.id AS 'id',l.label_value_size AS 'labelValueSize',l.label_key AS 'labelKey',l.label_value AS
            'stringValue',si.instance,si.name AS 'applicationName'
            FROM linkis_cg_manager_label l, linkis_cg_manager_label_service_instance lsi,linkis_cg_manager_label_value_relation
            lvr,linkis_cg_manager_service_instance si
            WHERE l.id = lsi.label_id AND l.id = lvr.label_id AND lsi.service_instance = si.instance AND
            (lvr.label_value_key ,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")"
                     separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id,si.instance
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

    <select id="listLabelRelationByServiceInstance"
            parameterType="com.webank.wedatasphere.linkis.common.ServiceInstance" resultType="java.util.HashMap">
        SELECT l.id AS 'id',l.label_key AS 'labelKey',l.label_value AS 'stringValue',
        l.label_value_size AS 'labelValueSize',si.instance,si.name AS 'applicationName' FROM
        linkis_cg_manager_label l
        JOIN linkis_cg_manager_label_service_instance lsi
        ON l.id = lsi.label_id
        JOIN linkis_cg_manager_service_instance si
        ON si.instance=lsi.service_instance
        WHERE (si.instance,si.`name`) IN
        <foreach collection="nodes" item="node" separator="," open="(" close=")">
            (#{node.instance},#{node.applicationName})
        </foreach>
    </select>

    <select id="getLabelByKeyValue"
            resultMap="persistenceLabelResultMap">
        select * from linkis_cg_manager_label where label_key = #{labelKey} and label_value = #{stringValue}
    </select>

    <select id="getNodeByLabelKeyValue" resultType="com.webank.wedatasphere.linkis.common.ServiceInstance">
        SELECT si.instance ,si.name as 'application_name' FROM linkis_cg_manager_label l ,
        linkis_cg_manager_label_service_instance lsi ,linkis_cg_manager_service_instance si
        WHERE l.id = lsi.label_id AND si.instance = lsi.service_instance and
        l.label_key = #{labelKey} and l.label_value = #{stringValue}
    </select>

    <resultMap id="persistenceLabelResultMap"
               type="com.webank.wedatasphere.linkis.manager.common.entity.persistence.PersistenceLabel">
        <result column="label_value" property="stringValue"/>
        <result column="label_feature" property="feature"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="label_value_size" property="labelValueSize"/>
    </resultMap>

    <select id="listResourceLabelByValues" resultMap="persistenceLabelResultMap">
        SELECT l.*
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lr.label_id AND l.id = lvr.label_id
        AND (lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="values" item="value" open="(" close=")" separator=",">
            (#{value.key},#{value.value})
        </foreach>
        GROUP BY l.id,lr.resource_id HAVING COUNT(1) = l.label_value_size
    </select>

    <select id="listResourceByLaBelId"
            resultType="com.webank.wedatasphere.linkis.manager.common.entity.persistence.PersistenceResource">
        SELECT r.* FROM linkis_cg_manager_label_resource lr, linkis_cg_manager_linkis_resources r, linkis_cg_manager_label l
        WHERE lr.resource_id = r.id and
        lr.label_id = #{labelId} and
        l.id = #{labelId}
    </select>

    <select id="dimListResourceBykeyValueMap"
            resultType="com.webank.wedatasphere.linkis.manager.common.entity.persistence.PersistenceResource">

        <foreach collection="keyValueMap" index="key" item="value" separator="union all">
            SELECT r.*,l.label_value_size
            FROM linkis_cg_manager_label l ,linkis_cg_manager_label_value_relation lvr,linkis_cg_manager_label_resource lr,linkis_cg_manager_linkis_resources r
            WHERE l.id = lr.label_id AND l.id = lvr.label_id AND lr.resource_id = r.id
            AND l.label_key = #{key}
            AND (lvr.label_value_key,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id,r.id
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

    <delete id="deleteResourceByLabelIdInDirect">
        delete from linkis_cg_manager_linkis_resources where id in (select resource_id from linkis_cg_manager_label_resource  where label_id = #{labelId});
    </delete>

    <delete id="deleteResourceByLabelId">
        delete from linkis_cg_manager_label_resource where label_id = #{labelId};
    </delete>

    <select id="selectLabelIdByLabelKeyValuesMaps" resultType="java.lang.Integer">
        select tmp.id from (
        SELECT l.id,l.label_value_size
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lr.label_id AND l.id = lvr.label_id
        AND (l.label_key,lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="labelKeyValues" index="labelKey" item="labelValues" open="(" close=")" separator=",">
            <foreach collection="labelValues" index="valueKey" item="valueContent" open="(" close=")" separator="),(">
                #{labelKey},#{valueKey},#{valueContent}
            </foreach>
        </foreach>
        GROUP BY l.id,lr.id HAVING COUNT(1) = l.label_value_size
        ) as tmp limit 1
    </select>

    <delete id="deleteResourceByLabelKeyValuesMapsInDirect">
        delete from linkis_cg_manager_linkis_resources where id in (select resource_id from linkis_cg_manager_label_resource
        where label_id = #{id} );
    </delete>
    <delete id="deleteResourceByLabelKeyValuesMaps">
        delete from linkis_cg_manager_label_resource where label_id = #{id};
    </delete>

    <delete id="batchDeleteResourceByLabelId">
        delete from linkis_cg_manager_linkis_resources where id in (select resource_id from linkis_cg_manager_label_resource
        where label_id in
        <foreach collection="labelIds" item="labelId" open="(" close=")" separator=",">
            #{labelId}
        </foreach>
        );
        delete from linkis_cg_manager_label_resource where label_id in
        <foreach collection="labelIds" item="labelId" open="(" close=");" separator=",">
            #{labelId}
        </foreach>
    </delete>

    <delete id="batchDeleteResourceByLabelKeyValuesMaps">

        delete from linkis_cg_manager_linkis_resources where id in (select resource_id from linkis_cg_manager_label_resource
        where label_id in (
        select tmp.id from(
        SELECT l.id,l.label_value_size
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lr.label_id AND l.id = lvr.label_id
        AND (l.label_key,lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="labelKeyValues" index="labelKey" item="labelValues" open="(" close=")" separator=",">
            <foreach collection="labelValues" index="valueKey" item="valueContent" open="(" close=")" separator="),(">
                #{labelKey},#{valueKey},#{valueContent}
            </foreach>
        </foreach>
        GROUP BY l.id,lr.id HAVING COUNT(1) = l.label_value_size
        ) as tmp
        ));

        delete from linkis_cg_manager_label_resource where label_id in
        (
        select tmp.id from(
        SELECT l.id,l.label_value_size
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lr.label_id AND l.id = lvr.label_id
        AND (l.label_key,lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="labelKeyValues" index="labelKey" item="labelValues" open="(" close=")" separator=",">
            <foreach collection="labelValues" index="valueKey" item="valueContent" open="(" close=")" separator="),(">
                #{labelKey},#{valueKey},#{valueContent}
            </foreach>
        </foreach>
        GROUP BY l.id,lr.id HAVING COUNT(1) = l.label_value_size
        ) as tmp
        );
    </delete>

    <select id="listLabelByKeyValueMap" resultMap="persistenceLabelResultMap">
        SELECT l.*
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lvr.label_id
        AND (l.label_key,lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="keyValueMap" index="key" item="value" open="(" close=")" separator=",">
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator="),(">
                #{key},#{valueKey},#{valueContent}
            </foreach>
        </foreach>
        GROUP BY l.id HAVING COUNT(1) = l.label_value_size
    </select>

    <select id="dimListLabelByValueList" resultMap="persistenceLabelResultMap">
        <foreach collection="valueList" index="i" item="value" separator="union all">
            SELECT l.*
            FROM linkis_cg_manager_label l ,linkis_cg_manager_label_value_relation lvr
            WHERE l.id = lvr.label_id
            AND (lvr.label_value_key,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

    <select id="dimListLabelByKeyValueMap" resultMap="persistenceLabelResultMap">
        <foreach collection="keyValueMap" index="key" item="value" separator="union all">
            SELECT l.*
            FROM linkis_cg_manager_label l ,linkis_cg_manager_label_value_relation lvr
            WHERE l.id = lvr.label_id
            AND l.label_key = #{key}
            AND (lvr.label_value_key,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

    <select id="dimlistResourceLabelByKeyValueMap" resultMap="persistenceLabelResultMap">
        <foreach collection="keyValueMap" index="key" item="value" separator="union all">
            SELECT l.*
            FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
            WHERE l.id = lr.label_id AND l.id = lvr.label_id
            AND l.label_key = #{key}
            AND (lvr.label_value_key,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id,lr.resource_id
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

</mapper>