#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
spring:
  application:
    name: linkis-cg-engineconn
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
      file-size-threshold: 50MB
eureka:
  instance:
    # prefer-ip-address: true
    # instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 4
    lease-expiration-duration-in-seconds: 12
    metadata-map:
      prometheus.path: ${prometheus.path:/api/rest_j/v1/actuator/prometheus}
      linkis.app.version: ${linkis.app.version}
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:20303/eureka/
    registry-fetch-interval-seconds: 8
    initial-instance-info-replication-interval-seconds: 10
management:
  endpoints:
    web:
      exposure:
        include: refresh,info,health,metrics

logging:
  config: classpath:log4j2.xml
