*.iml
.idea
.DS_Store

assembly/target

core/cloudModule/target/
core/cloudMybatis/target/
core/cloudProtocol/target/
core/cloudRPC/target/
core/common/target/
core/httpclient/target/
core/scheduler/target/
eurekaServer/target/
gateway/core/target/
gateway/gateway-httpclient-support/target/
gateway/gateway-ujes-support/target/
gateway/springcloudgateway/target/


metadata/target/
publicService/application/target/
publicService/configuration/target/
publicService/jobhistory/target/
publicService/target/
publicService/udf/target/
publicService/variable/target/
publicService/workspace/target/
resourceManager/resourcemanagerclient/target/
resourceManager/resourcemanagercommon/target/
resourceManager/resourcemanagerserver/target/
storage/storage/target/

contextservice/cs-cache/target
contextservice/cs-client/target
contextservice/cs-common/target
contextservice/cs-highavailable/target
contextservice/cs-listener/target
contextservice/cs-persistence/target
contextservice/cs-search/target
contextservice/cs-server/target
contextservice/cs-ujes-client/target

datasource/datasourcemanager/common/target
datasource/datasourcemanager/server/target
datasource/metadatamanager/common/target
datasource/metadatamanager/server/target
datasource/metadatamanager/service/elasticsearch/target
datasource/metadatamanager/service/hive/target
datasource/metadatamanager/service/mysql/target



ujes/client/target/
ujes/definedEngines/hive/engine/target/
ujes/definedEngines/hive/enginemanager/target/
ujes/definedEngines/hive/entrance/target/
ujes/definedEngines/jdbc/entrance/target/
ujes/definedEngines/pipeline/engine/target/
ujes/definedEngines/pipeline/enginemanager/target/
ujes/definedEngines/pipeline/entrance/target/
ujes/definedEngines/python/engine/target/
ujes/definedEngines/python/enginemanager/target/
ujes/definedEngines/python/entrance/target/
ujes/definedEngines/spark/engine/target/
ujes/definedEngines/spark/enginemanager/target/
ujes/definedEngines/spark/entrance/target/
ujes/engine/target/
ujes/enginemanager/target/
ujes/entrance/target/

ujes/definedEngines/mlsql/entrance/target/
assembly/public-module/target/
bml/bml-engine-hook/target/
bml/bmlclient/target/
bml/bmlcommon/target/
bml/bmlserver/target/
core/hadoop-common/target/
publicService/workspace/client/workspace-httpclient/target/
userControl/target/


