<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.linkis.udf.dao.PythonModuleInfoMapper">

    <!-- SQL 1: 模糊查询 -->
    <select id="selectByConditions" resultType="org.apache.linkis.udf.entity.PythonModuleInfo">
        SELECT * FROM linkis_ps_python_module_info WHERE 1=1
        <if test="name != null">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="createUser != null">
            AND create_user LIKE CONCAT('%', #{createUser}, '%')
        </if>
        <if test="engineType != null">
            AND engine_type = #{engineType}
        </if>
        <if test="isExpire != null">
            AND is_expire = #{isExpire}
        </if>
        <if test="isLoad != null">
            AND is_load = #{isLoad}
        </if>
        ORDER BY create_time DESC
    </select>

    <!-- SQL 2: 更新 -->
    <update id="updatePythonModuleInfo">
        UPDATE linkis_ps_python_module_info
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="path != null">path = #{path},</if>
            <if test="engineType != null">engine_type = #{engineType},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="isLoad != null">is_load = #{isLoad},</if>
            <if test="isExpire != null">is_expire = #{isExpire},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="pythonModule != null">python_module = #{pythonModule},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- SQL 3: 新增 -->
    <insert id="insertPythonModuleInfo">
        INSERT INTO linkis_ps_python_module_info
        (name, description, path, engine_type, create_user, update_user, is_load, is_expire, create_time, update_time, python_module)
        VALUES
        (#{name}, #{description}, #{path}, #{engineType}, #{createUser}, #{updateUser}, #{isLoad}, #{isExpire}, #{createTime}, #{updateTime}, #{pythonModule})
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- SQL 4: 带有<if>判断的查询 -->
    <select id="selectByUserAndNameAndId" resultType="org.apache.linkis.udf.entity.PythonModuleInfo">
        SELECT * FROM linkis_ps_python_module_info WHERE 1=1
        <if test="createUser != null">AND create_user = #{createUser}</if>
        <if test="name != null">AND name = #{name}</if>
        <if test="id != null">AND  id = #{id}</if>
        <if test="isLoad != null">AND  is_load = #{isLoad}</if>
    </select>

    <!-- SQL 5: 查询包含多个引擎类型的hdfs路径 -->
    <select id="selectPathsByUsernameAndEnginetypes" resultType="org.apache.linkis.udf.entity.PythonModuleInfo">
        SELECT * FROM linkis_ps_python_module_info
        WHERE create_user = #{username}
        AND engine_type IN
        <foreach item="engineType" index="index" collection="enginetypes" open="(" separator="," close=")">
            #{engineType}
        </foreach>
        AND is_expire = 0
        AND is_load = 1
    </select>

</mapper>

