<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.linkis.basedatamanager.server.dao.GatewayAuthTokenMapper">

    <resultMap id="BaseResultMap" type="org.apache.linkis.basedatamanager.server.domain.GatewayAuthTokenEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tokenName" column="token_name" jdbcType="VARCHAR"/>
            <result property="legalUsers" column="legal_users" jdbcType="VARCHAR"/>
            <result property="legalHosts" column="legal_hosts" jdbcType="VARCHAR"/>
            <result property="businessOwner" column="business_owner" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="DATE"/>
            <result property="updateTime" column="update_time" jdbcType="DATE"/>
            <result property="elapseDay" column="elapse_day" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,token_name,legal_users,
        legal_hosts,business_owner,create_time,
        update_time,elapse_day,update_by
    </sql>

    <select id="getListByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM linkis_mg_gateway_auth_token
        <if test="searchName != null and searchName!=''">
            WHERE token_name LIKE concat('%',#{searchName},'%')
            OR legal_users LIKE concat('%',#{searchName},'%')
            OR legal_hosts LIKE concat('%',#{searchName},'%')
        </if>
    </select>
</mapper>
