<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.apache.linkis.basedatamanager.server.dao.DatasourceAccessMapper">

    <resultMap id="BaseResultMap" type="org.apache.linkis.basedatamanager.server.domain.DatasourceAccessEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tableId" column="table_id" jdbcType="BIGINT"/>
            <result property="visitor" column="visitor" jdbcType="VARCHAR"/>
            <result property="fields" column="fields" jdbcType="VARCHAR"/>
            <result property="applicationId" column="application_id" jdbcType="INTEGER"/>
            <result property="accessTime" column="access_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,table_id,visitor,
        fields,application_id,access_time
    </sql>

    <select id="getListByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from linkis_ps_datasource_access
        <if test="searchName != null and searchName!=''">
            where visitor like concat('%',#{searchName},'%')
            or fields like concat('%',#{searchName},'%')
        </if>
    </select>
</mapper>
