<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~ 
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~ 
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.apache.linkis.datasourcemanager.core.dao.DataSourceDao">
    <resultMap id="dataSourceDetailMap" type="org.apache.linkis.datasourcemanager.common.domain.DataSource">
        <result property="id" column="id"/>
        <result property="dataSourceName" column="datasource_name"/>
        <result property="dataSourceDesc" column="datasource_desc"/>
        <result property="dataSourceTypeId" column="datasource_type_id"/>
        <result property="createIdentify" column="create_identify"/>
        <result property="createSystem" column="create_system"/>
        <result property="parameter" column="parameter"/>
        <result property="expire" column="expire"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifyUser" column="modify_user"/>
        <result property="createUser" column="create_user"/>
        <result property="versionId" column="version_id"/>
        <result property="publishedVersionId" column="published_version_id"/>
        <result property="labels" column="labels"/>
        <association property="dataSourceType" javaType="org.apache.linkis.datasourcemanager.common.domain.DataSourceType">
            <result property="icon" column="icon"/>
            <result property="name" column="name"/>
        </association>
        <association property="dataSourceEnv" javaType="org.apache.linkis.datasourcemanager.common.domain.DataSourceEnv" column="datasource_env_id"
                     select="selectEnvById">
            <result property="envName" column="env_name"/>
            <result property="parameter" column="env_parameter"/>
        </association>
    </resultMap>

    <resultMap id="dataSourceMap" type="org.apache.linkis.datasourcemanager.common.domain.DataSource">
        <result property="id" column="id"/>
        <result property="dataSourceName" column="datasource_name"/>
        <result property="dataSourceDesc" column="datasource_desc"/>
        <result property="dataSourceTypeId" column="datasource_type_id"/>
        <result property="createIdentify" column="create_identify"/>
        <result property="versionId" column="version_id"/>
        <result property="publishedVersionId" column="published_version_id"/>
        <result property="createSystem" column="create_system"/>
        <result property="parameter" column="parameter"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifyUser" column="modify_user"/>
        <result property="createUser" column="create_user"/>
        <result property="labels" column="labels"/>
        <result property="expire" column="expire"/>
        <association property="dataSourceType" javaType="org.apache.linkis.datasourcemanager.common.domain.DataSourceType">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <sql id="data_source_insert_columns">
        datasource_name
        , datasource_type_id, datasource_desc,
        create_identify, create_system, create_user, parameter, create_time,
        modify_user, modify_time, labels
    </sql>

    <sql id="data_source_query_columns">
        id
        , datasource_name, datasource_type_id, datasource_desc,
        create_identify, create_system, create_user, parameter, expire, create_time,
        modify_user, modify_time
    </sql>

    <sql id="data_source_query_page">
        d.id
        , d.datasource_name, d.datasource_type_id, t.name, d.datasource_desc,
        d.create_identify, d.create_system, d.create_user, d.create_time,
        d.modify_user, d.modify_time, d.labels, d.version_id,d.published_version_id, d.expire
    </sql>
    <sql id="data_source_join_type">
        t.name, t.icon,
        d.id, d.datasource_name, d.datasource_type_id, d.datasource_desc,
        d.create_identify, d.create_system, d.create_user, d.parameter, d.create_time,
        d.modify_user, d.modify_time, d.version_id,d.published_version_id, d.labels, d.expire
    </sql>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id" parameterType="org.apache.linkis.datasourcemanager.common.domain.DataSource">
        INSERT INTO linkis_ps_dm_datasource(
        <include refid="data_source_insert_columns"/>
        ) VALUES(#{dataSourceName}, #{dataSourceTypeId},
        #{dataSourceDesc,jdbcType=VARCHAR}, #{createIdentify}, #{createSystem}, #{createUser},
        #{parameter},
        <choose>
            <when test="createTime == null">
                now(),
            </when>
            <otherwise>
                #{createTime,jdbcType=TIMESTAMP},
            </otherwise>
        </choose>

        #{modifyUser,jdbcType=VARCHAR},

        <choose>
            <when test="modifyTime == null">
                now(),
            </when>
            <otherwise>
                #{modifyTime,jdbcType=TIMESTAMP},
            </otherwise>
        </choose>

        #{labels})
    </insert>

    <select id="selectOneDetail" resultMap="dataSourceDetailMap">
        SELECT
        <include refid="data_source_join_type"/>
         FROM linkis_ps_dm_datasource_type t
        INNER JOIN linkis_ps_dm_datasource d ON t.id = d.datasource_type_id
        <where>
            d.id = #{dataSourceId}
        </where>
    </select>

    <select id="selectOneDetailByName" resultMap="dataSourceDetailMap">
        SELECT
        <include refid="data_source_join_type"/>
         FROM linkis_ps_dm_datasource_type t
        INNER JOIN linkis_ps_dm_datasource d ON t.id = d.datasource_type_id
        <where>
            d.datasource_name = #{dataSourceName} LIMIT 1
        </where>
    </select>
    <select id="selectOne" resultMap="dataSourceMap">
        SELECT
        <include refid="data_source_query_columns"/>
         FROM linkis_ps_dm_datasource
        <where>
            id = #{dataSourceId}
        </where>
    </select>

    <select id="selectOneByName" resultMap="dataSourceMap">
        SELECT
        <include refid="data_source_query_columns"/>
         FROM linkis_ps_dm_datasource
        <where>
            datasource_name = #{dataSourceName}
        </where>
         LIMIT 1;
    </select>
    <select id="selectEnvById" resultType="DataSourceEnv">

        SELECT env_name, parameter AS env_parameter
        FROM linkis_ps_dm_datasource_env
        WHERE id = #{id};

    </select>

    <delete id="removeOne">
        DELETE FROM linkis_ps_dm_datasource
        <where>
            id = #{dataSourceId}
        </where>
    </delete>

    <update id="updateOne">
        UPDATE linkis_ps_dm_datasource
        <set>
            datasource_name = #{dataSourceName},
            datasource_desc = #{dataSourceDesc,jdbcType=VARCHAR},
            <if test="dataSourceTypeId != null and dataSourceTypeId > 0">
                datasource_type_id = #{dataSourceTypeId},
            </if>
            parameter = #{parameter},
            create_identify = #{createIdentify,jdbcType=VARCHAR},
            create_system = #{createSystem,jdbcType=VARCHAR},
            <choose>
                <when test="modifyTime == null">
                    modify_time = now(),
                </when>
                <otherwise>
                    modify_time = #{modifyTime,jdbcType=TIMESTAMP},
                </otherwise>
            </choose>
            modify_user = #{modifyUser,jdbcType=VARCHAR},
            labels = #{labels,jdbcType=VARCHAR}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="expireOne">
        UPDATE linkis_ps_dm_datasource
        <set>
            expire = true
        </set>
        <where>
            id = #{dataSourceId}
        </where>
    </update>

    <select id="selectByIds" resultMap="dataSourceMap">
        SELECT
        <include refid="data_source_query_page"/>
         FROM linkis_ps_dm_datasource_type t
        INNER JOIN linkis_ps_dm_datasource d ON t.id = d.datasource_type_id
        <where>
            <if test="ids != null and ids.size > 0">
                AND d.id in
                <foreach collection="ids" index="index" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
         ORDER BY create_time DESC
    </select>

    <select id="selectByPageVo" resultMap="dataSourceMap">
        SELECT
        <include refid="data_source_query_page"/>
         FROM linkis_ps_dm_datasource_type t
    INNER JOIN linkis_ps_dm_datasource d ON t.id = d.datasource_type_id
        <where>
            <if test="dataSourceName != null and dataSourceName != ''">
                AND datasource_name like concat('%', #{dataSourceName}::text, '%')
            </if>
            <if test="dataSourceTypeId != null and dataSourceTypeId > 0">
                AND datasource_type_id = #{dataSourceTypeId}
            </if>
            <if test="permissionUser != null and permissionUser != ''">
                AND create_user = #{permissionUser}
            </if>
        </where>
         ORDER BY create_time DESC
    </select>

    <update id="setPublishedVersionId">
        UPDATE linkis_ps_dm_datasource
        <set>
            published_version_id = #{versionId}
        </set>
        <where>
            id = #{dataSourceId}
        </where>
    </update>

    <update id="updateVersionId">
        UPDATE linkis_ps_dm_datasource
        <set>
            version_id = #{versionId}
        </set>
        <where>
            id = #{dataSourceId}
        </where>
    </update>
</mapper>