<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~ 
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~ 
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="org.apache.linkis.manager.dao.LabelManagerMapper">

    <resultMap id="persistenceLabelResultMap"
               type="org.apache.linkis.manager.common.entity.persistence.PersistenceLabel">
        <id column="id" property="id"/>
        <result column="label_key" property="labelKey"/>
        <result column="label_feature" property="feature"/>
        <result column="label_value_size" property="labelValueSize"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="label_value" property="stringValue"/>
    </resultMap>

    <resultMap id="persistenceLabelRelResultMap"
               type="org.apache.linkis.manager.common.entity.persistence.PersistenceLabelRel">
        <result column="label_value" property="stringValue"/>
        <result column="label_feature" property="feature"/>
        <result column="resource_id" property="resourceId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="label_value_size" property="labelValueSize"/>
    </resultMap>

    <resultMap id="PersistenceResourceMap" type="org.apache.linkis.manager.common.entity.persistence.PersistenceResource">
        <id column="id" property="id"/>
        <result column="max_resource" property="maxResource"/>
        <result column="min_resource" property="minResource"/>
        <result column="used_resource" property="usedResource"/>
        <result column="left_resource" property="leftResource"/>
        <result column="expected_resource" property="expectedResource"/>
        <result column="locked_resource" property="lockedResource"/>
        <result column="resourceType" property="resourceType"/>
        <result column="ticketId" property="ticketId"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="updator" property="updator"/>
        <result column="creator" property="creator"/>
    </resultMap>

    <resultMap id="PersistenceNodeMap" type="org.apache.linkis.manager.common.entity.persistence.PersistenceNode">
        <id column="id" property="id"/>
        <result column="instance" property="instance"/>
        <result column="name" property="name"/>
        <result column="owner" property="owner"/>
        <result column="mark" property="mark"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="updator" property="updator"/>
        <result column="creator" property="creator"/>
    </resultMap>

    <insert id="registerLabel" useGeneratedKeys = "true" keyProperty = "persistenceLabel.id"  keyColumn = "id" >
        INSERT IGNORE INTO  linkis_cg_manager_label (label_key,label_value,label_feature,label_value_size,update_time,create_time)
        VALUES (#{persistenceLabel.labelKey},#{persistenceLabel.stringValue},#{persistenceLabel.feature},#{persistenceLabel.labelValueSize},now(), now())
    </insert>

    <insert id="registerLabelKeyValues">
        REPLACE INTO linkis_cg_manager_label_value_relation (label_value_key,label_value_content,label_id,update_time,create_time) VALUES
        <foreach collection='labelValueKeyAndContent.entrySet()' separator=',' index='valueKey' item='valueContent'>
            (#{valueKey}, #{valueContent},#{labelId},now(),now())
        </foreach>
    </insert>

    <insert id="replaceIntoLabelKeyValue">
        REPLACE INTO linkis_cg_manager_label_value_relation (label_value_key,label_value_content,label_id,update_time,create_time) VALUES(#{labelKey}, #{labelStringValue},#{labelId},now(),now())
    </insert>

    <select id="getLabel" resultMap="persistenceLabelResultMap">
        select * from linkis_cg_manager_label where id=#{id}
    </select>

    <delete id="deleteLabel">
        delete from linkis_cg_manager_label  where id =#{id}
    </delete>

    <delete id="deleteByLabel">
        delete from linkis_cg_manager_label  where label_key =#{labelKey} and label_value=#{labelStringValue}
    </delete>

    <delete id="deleteLabelKeyVaules">
        delete from linkis_cg_manager_label_value_relation where label_id =#{id}
    </delete>

    <update id="updateLabel">
        update linkis_cg_manager_label set label_key = #{persistenceLabel.labelKey},label_value = #{persistenceLabel.stringValue},
        label_feature=#{persistenceLabel.feature},label_value_size=#{persistenceLabel.labelValueSize},update_time=#{persistenceLabel.updateTime} where id=#{id}
    </update>

    <insert id="addLabelServiceInstance">
        insert into linkis_cg_manager_label_service_instance(label_id, service_instance, update_time,create_time) values
        <foreach collection='labelIds' item='labelId' index='index' separator=','>
            (#{labelId}, #{instance},now(),now())
        </foreach>
    </insert>

    <select id="getLabelByServiceInstance" resultMap="persistenceLabelResultMap">
        SELECT l.* FROM
        (SELECT label_id FROM  linkis_cg_manager_label_service_instance WHERE service_instance=#{instance}) lsi
        INNER JOIN linkis_cg_manager_label l ON l.id = lsi.label_id;
    </select>


    <select id="getLabelByResource" resultMap="persistenceLabelResultMap">
        SELECT l.* FROM
        (SELECT label_id from linkis_cg_manager_label_resource WHERE resource_id = #{persistenceResource.id}) lri
        INNER JOIN linkis_cg_manager_label l ON l.id = lri.label_id;
    </select>

    <insert id="addLabelsAndResource">
        insert into linkis_cg_manager_label_resource(label_id, resource_id,update_time, create_time) values
        <foreach collection='labelIds' item='labelId' index='index' separator=','>
            (#{labelId},#{resourceId},now(), now())
        </foreach>
    </insert>

    <select id="getResourcesByLabel" resultMap="PersistenceResourceMap">
        SELECT lr.* FROM
        ( SELECT linkis_cg_manager_label_resource.* FROM
            (select id from linkis_cg_manager_label where label_key=#{labelKey} and label_value=#{stringValue}) l
        INNER JOIN linkis_cg_manager_label_resource  on l.id = linkis_cg_manager_label_resource.label_id
        ) lri INNER JOIN linkis_cg_manager_linkis_resources lr on lr.id = lri.resource_id
    </select>

    <select id="getLabelIdsByInstance" resultType="java.lang.Integer">
        select label_id from linkis_cg_manager_label_service_instance where service_instance = #{instance}
    </select>

    <select id="getLabelsByInstance" resultMap="persistenceLabelResultMap">
        select * from linkis_cg_manager_label A join linkis_cg_manager_label_service_instance B on A.id = B.label_id where B.service_instance = #{instance}
    </select>

    <select id="getInstanceByLabelId" resultMap="PersistenceNodeMap">
        select * from linkis_cg_manager_service_instance A join linkis_cg_manager_label_service_instance B on A.instance = B.service_instance where B.label_id=#{labelId}
    </select>

    <select id="getResourcesByLabels"
            resultMap="PersistenceResourceMap">
        SELECT A.* FROM linkis_cg_manager_linkis_resources A JOIN linkis_cg_manager_label_resource B
        ON A.id = B.resource_id
        AND B.label_id in
        (SELECT id FROM linkis_cg_manager_label WHERE (label_key, label_value) IN
        <foreach collection="labels" index="index" item="label" open="(" close=")" separator=",">
            (#{label.labelKey}, #{label.stringValue})
        </foreach>)
        ORDER BY A.creator, A.updator ASC
    </select>

    <select id="getInstanceIdsByLabelIds" resultType="java.lang.String">
        select service_instance from linkis_cg_manager_label_service_instance where label_id in (
        <foreach collection='labelIds' separator=',' item='labelId'>
            #{labelId}
        </foreach>
        )
    </select>

    <select id="getLabelsByLabelIds" resultMap="persistenceLabelResultMap">
        select * from linkis_cg_manager_label where id in (
        <foreach collection='labelIds' separator=',' item='labelId'>
            #{labelId}
        </foreach>
        )
    </select>

    <insert id="addLabelsByUser">
        insert into linkis_cg_manager_label_user(username, label_id,update_time, create_time) values
        <foreach collection='labelIds' item='labelId' index='index' separator=','>
            (#{userName},#{labelId},now(), now())
        </foreach>
    </insert>

    <select id="getUserNameByLabelId" resultType="java.lang.String">
        select username from linkis_cg_manager_label_user where label_id = #{labelId}
    </select>

    <select id="getUserNamesByLabelIds" resultType="java.lang.String">
        select distinct username from linkis_cg_manager_label_user where label_id in (
        <foreach collection='labelIds' separator=',' item='labelId'>
            #{labelId}
        </foreach>
        )
    </select>

    <select id="getLabelsByUser" resultMap="persistenceLabelResultMap">
        select * from linkis_cg_manager_label A join linkis_cg_manager_label_user B on A.id = B.label_id and B.username = #{userName}
    </select>

    <select id="getLabelsByLabelKey" resultMap="persistenceLabelResultMap">
        select * from linkis_cg_manager_label where label_key = #{labelKey}
    </select>

    <delete id="deleteLabelResourceByByTicketId">
        delete from linkis_cg_manager_label_resource A join linkis_cg_manager_linkis_resources B on A.resource_id = B.id and B.ticketId=#{ticketId}
    </delete>

    <delete id="deleteLabelIdsAndInstance">
        delete from linkis_cg_manager_label_service_instance where service_instance = #{instance} and label_id in
        <foreach collection='labelIds' item='labelId' index='index'  open='(' separator=',' close=')'>
            #{labelId}
        </foreach>
    </delete>

    <delete id="deleteLabelIdsByUser">
        delete from linkis_cg_manager_label_user where username = #{userName} and label_id in
        <foreach collection='labelIds' item='labelId' index='index'  open='(' separator=',' close=')'>
            #{labelId}
        </foreach>
    </delete>

    <delete id="deleteUserById">
        delete from linkis_cg_manager_label_user where label_id=#{labelId}
    </delete>

    <select id="dimListNodeRelationsByKeyValueMap" resultType="java.util.HashMap">
        <foreach collection="keyValueMap" index="key" item="value" separator="union all">
            SELECT l.id AS 'id',l.label_value_size AS 'labelValueSize',l.label_key AS 'labelKey',l.label_value AS
            'stringValue',si.instance,si.name AS 'applicationName'
            FROM linkis_cg_manager_label l, linkis_cg_manager_label_service_instance lsi,linkis_cg_manager_label_value_relation
            lvr,linkis_cg_manager_service_instance si
            WHERE l.id = lsi.label_id AND l.id = lvr.label_id AND lsi.service_instance = si.instance AND
            (lvr.label_value_key ,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")"
                     separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id,si.instance
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

    <select id="listLabelRelationByServiceInstance"
            parameterType="org.apache.linkis.common.ServiceInstance" resultType="java.util.HashMap">
        SELECT l.id AS 'id',l.label_key AS 'labelKey',l.label_value AS 'stringValue',
        l.label_value_size AS 'labelValueSize', lsi.service_instance AS 'instance'
        FROM (
            SELECT service_instance,label_id
            FROM linkis_cg_manager_label_service_instance
            WHERE service_instance IN
            <foreach collection="nodes" item="node" separator="," open="(" close=")">
                (#{node.instance})
            </foreach>
        ) lsi
        INNER JOIN linkis_cg_manager_label l ON l.id = lsi.label_id;
    </select>

    <select id="getLabelByKeyValue"
            resultMap="persistenceLabelResultMap">
        select * from linkis_cg_manager_label where label_key = #{labelKey} and label_value = #{stringValue}
    </select>



    <select id="getNodeByLabelKeyValue" resultType="org.apache.linkis.common.ServiceInstance">
        SELECT
        si.instance,
        si.name as 'application_name'
        FROM
        (
        SELECT
        lsi.service_instance
        FROM
        (
        SELECT
        id
        FROM
        linkis_cg_manager_label
        WHERE
        label_key = #{labelKey}
        and label_value = #{stringValue}
        ) l
        INNER JOIN linkis_cg_manager_label_service_instance lsi ON l.id = lsi.label_id
        ) t
        INNER JOIN linkis_cg_manager_service_instance si ON si.instance = t.service_instance
    </select>

    <!--<select id="getNodeByLabelKeyValue1" resultType="org.apache.linkis.common.ServiceInstance">
        SELECT si.instance ,si.name as 'application_name' FROM linkis_cg_manager_label l ,
        linkis_cg_manager_label_service_instance lsi ,linkis_cg_manager_service_instance si
        WHERE l.id = lsi.label_id AND si.instance = lsi.service_instance and
        l.label_key = #{labelKey} and l.label_value = #{stringValue}
    </select>-->



    <select id="listResourceLabelByValues" resultMap="persistenceLabelResultMap">
        SELECT l.*
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lr.label_id AND l.id = lvr.label_id
        AND (lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="values" item="value" open="(" close=")" separator=",">
            (#{value.key},#{value.value})
        </foreach>
        GROUP BY l.id,lr.resource_id HAVING COUNT(1) = l.label_value_size
    </select>

    <select id="getNodeRelationsByLabels" resultType="java.util.HashMap">
        <foreach collection="labels" index="index" item="label" separator="union all">
            SELECT
            t.id AS 'id',
            t.label_value_size AS 'labelValueSize',
            t.label_key AS 'labelKey',
            t.label_value AS 'stringValue',
            si.instance,
            si.name AS 'applicationName'
            FROM
            (
            SELECT
            l.id,
            l.label_value_size ,
            l.label_key,
            l.label_value,
            lsi.service_instance
            FROM
            (
            SELECT
            id,
            label_value_size,
            label_key,
            label_value
            FROM
            linkis_cg_manager_label
            WHERE
            label_key = #{label.labelKey}
            and label_value = #{label.stringValue}
            ) l
            INNER JOIN linkis_cg_manager_label_service_instance lsi ON l.id = lsi.label_id
            ) t
            INNER JOIN linkis_cg_manager_service_instance si ON si.instance = t.service_instance
        </foreach>
    </select>

    <select id="listResourceByLaBelId"
            resultType="org.apache.linkis.manager.common.entity.persistence.PersistenceResource">
        SELECT r.* FROM linkis_cg_manager_label_resource lr, linkis_cg_manager_linkis_resources r,
        linkis_cg_manager_label l
        WHERE l.id = #{labelId} and
        lr.label_id = #{labelId} and
        lr.resource_id = r.id
    </select>



    <delete id="deleteResourceByLabelIdInDirect">
        delete from linkis_cg_manager_linkis_resources where id in (select resource_id from
        linkis_cg_manager_label_resource where label_id = #{labelId});
    </delete>

    <delete id="deleteResourceByLabelId">
        delete from linkis_cg_manager_label_resource where label_id = #{labelId};
    </delete>

    <select id="selectLabelIdByLabelKeyValuesMaps" resultType="java.lang.Integer">
        select tmp.id from (
        SELECT l.id,l.label_value_size
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lr.label_id AND l.id = lvr.label_id
        AND (l.label_key,lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="labelKeyValues" index="labelKey" item="labelValues" open="(" close=")" separator=",">
            <foreach collection="labelValues" index="valueKey" item="valueContent" open="(" close=")" separator="),(">
                #{labelKey},#{valueKey},#{valueContent}
            </foreach>
        </foreach>
        GROUP BY l.id,lr.id HAVING COUNT(1) = l.label_value_size
        ) as tmp limit 1
    </select>

    <delete id="deleteResourceByLabelKeyValuesMapsInDirect">
        delete from linkis_cg_manager_linkis_resources where id in (select resource_id from
        linkis_cg_manager_label_resource
        where label_id = #{id} );
    </delete>
    <delete id="deleteResourceByLabelKeyValuesMaps">
        delete from linkis_cg_manager_label_resource where label_id = #{id};
    </delete>

    <delete id="batchDeleteResourceByLabelId">
        delete from linkis_cg_manager_linkis_resources where id in (select resource_id from
        linkis_cg_manager_label_resource
        where label_id in
        <foreach collection="labelIds" item="labelId" open="(" close=")" separator=",">
            #{labelId}
        </foreach>
        );
        delete from linkis_cg_manager_label_resource where label_id in
        <foreach collection="labelIds" item="labelId" open="(" close=");" separator=",">
            #{labelId}
        </foreach>
    </delete>

    <delete id="batchDeleteResourceByLabelKeyValuesMaps">

        delete from linkis_cg_manager_linkis_resources where id in (select resource_id from
        linkis_cg_manager_label_resource
        where label_id in (
        select tmp.id from(
        SELECT l.id,l.label_value_size
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lr.label_id AND l.id = lvr.label_id
        AND (l.label_key,lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="labelKeyValues" index="labelKey" item="labelValues" open="(" close=")" separator=",">
            <foreach collection="labelValues" index="valueKey" item="valueContent" open="(" close=")" separator="),(">
                #{labelKey},#{valueKey},#{valueContent}
            </foreach>
        </foreach>
        GROUP BY l.id,lr.id HAVING COUNT(1) = l.label_value_size
        ) as tmp
        ));

        delete from linkis_cg_manager_label_resource where label_id in
        (
        select tmp.id from(
        SELECT l.id,l.label_value_size
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lr.label_id AND l.id = lvr.label_id
        AND (l.label_key,lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="labelKeyValues" index="labelKey" item="labelValues" open="(" close=")" separator=",">
            <foreach collection="labelValues" index="valueKey" item="valueContent" open="(" close=")" separator="),(">
                #{labelKey},#{valueKey},#{valueContent}
            </foreach>
        </foreach>
        GROUP BY l.id,lr.id HAVING COUNT(1) = l.label_value_size
        ) as tmp
        );
    </delete>

    <select id="listLabelByKeyValueMap" resultMap="persistenceLabelResultMap">
        SELECT l.*
        FROM linkis_cg_manager_label l ,linkis_cg_manager_label_value_relation lvr
        WHERE l.id = lvr.label_id
        AND (l.label_key,lvr.label_value_key,lvr.label_value_content) IN
        <foreach collection="keyValueMap" index="key" item="value" open="(" close=")" separator=",">
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator="),(">
                #{key},#{valueKey},#{valueContent}
            </foreach>
        </foreach>
        GROUP BY l.id HAVING COUNT(1) = l.label_value_size
    </select>

    <select id="dimListLabelByValueList" resultMap="persistenceLabelResultMap">
        <foreach collection="valueList" index="i" item="value" separator="union all">
            SELECT l.*
            FROM linkis_cg_manager_label l ,linkis_cg_manager_label_value_relation lvr
            WHERE l.id = lvr.label_id
            AND (lvr.label_value_key,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

    <select id="dimListLabelByKeyValueMap" resultMap="persistenceLabelResultMap">
        <foreach collection="keyValueMap" index="key" item="value" separator="union all">
            SELECT l.*
            FROM linkis_cg_manager_label l ,linkis_cg_manager_label_value_relation lvr
            WHERE l.id = lvr.label_id
            AND l.label_key = #{key}
            AND (lvr.label_value_key,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

    <select id="dimlistResourceLabelByKeyValueMap" resultMap="persistenceLabelResultMap">
        <foreach collection="keyValueMap" index="key" item="value" separator="union all">
            SELECT l.*
            FROM linkis_cg_manager_label l ,linkis_cg_manager_label_resource lr ,linkis_cg_manager_label_value_relation
            lvr
            WHERE l.id = lr.label_id AND l.id = lvr.label_id
            AND l.label_key = #{key}
            AND (lvr.label_value_key,lvr.label_value_content) IN
            <foreach collection="value" index="valueKey" item="valueContent" open="(" close=")" separator=",">
                (#{valueKey},#{valueContent})
            </foreach>
            GROUP BY l.id,lr.resource_id
            <if test="valueRelation == 'ALL'">
                HAVING COUNT(1) = l.label_value_size and count(1) = ${value.size}
            </if>
            <if test="valueRelation == 'AND'">
                HAVING l.label_value_size >= COUNT(1) and count(1) >= ${value.size}
            </if>
            <if test="valueRelation == 'OR'">
                HAVING COUNT(1) > 0
            </if>
        </foreach>
    </select>

    <select id="listLabelBySQLPattern" resultMap="persistenceLabelRelResultMap">
        SELECT a.*,b.resource_id FROM linkis_cg_manager_label a, linkis_cg_manager_label_resource b
        WHERE a.label_value LIKE #{pattern} AND a.label_key = #{labelKey} AND a.id = b.label_id
    </select>

</mapper>