<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2019 WeBank
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<configuration status="INFO" monitorInterval="30">
    <properties>
        <property name="LOG_PATH">${sys:log.path}</property>
        <property name="LOG_FILE">${sys:log.file}</property>
    </properties>
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <console name="Console-Plain" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="%m%n"/>
        </console>
        <console name="Console-Information" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="[%level] %m%n"/>
        </console>
        <!--&lt;!&ndash;文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用&ndash;&gt;-->
        <console name="fixedTimeFileAppender" target="SYSTEM_OUT" >
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss,SSS} %p %c{1}(%L) - %m%n"/>
        </console>

        <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <!--<RollingFile name="RollingFileAppender" fileName="${LOG_PATH}/${LOG_FILE}"-->
        <!--filePattern="'.'yyyy-MM-dd_HH'.log'">-->
        <!--&lt;!&ndash;<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>&ndash;&gt;-->
        <!--<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>-->
        <!--<Policies>-->
        <!--<TimeBasedTriggeringPolicy/>-->
        <!--<SizeBasedTriggeringPolicy size="100 MB"/>-->
        <!--</Policies>-->
        <!--&lt;!&ndash; DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 &ndash;&gt;-->
        <!--<DefaultRolloverStrategy max="30"/>-->
        <!--</RollingFile>-->
    </appenders>
    <loggers>
        <root level="OFF">
            <!--<appender-ref ref="fixedTimeFileAppender"/>-->
        </root>
        <logger name="PlaintTextLogger" level="INFO" additivity="false">
            <appender-ref ref="Console-Plain"/>
        </logger>
        <logger name="InformationLogger" level="INFO" additivity="false">
            <appender-ref ref="Console-Information"/>
        </logger>
        <logger name="com.webank.wedatasphere" level="INFO" additivity="false">
            <appender-ref ref="fixedTimeFileAppender"/>
        </logger>
    </loggers>
</configuration>