<?xml version="1.0" encoding="UTF-8"?>
  <!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.linkis.datasourcemanager.core.dao.DataSourceParamKeyDao">
    <resultMap id="paramKeyMap" type="org.apache.linkis.datasourcemanager.common.domain.DataSourceParamKeyDefinition">
        <result property="id" column="id"/>
        <result property="key" column="key"/>
        <result property="description" column="description"/>
        <result property="name" column="name"/>
        <result property="defaultValue" column="default_value"/>
        <result property="valueType" column="value_type"/>
        <result property="scope" column="scope"/>
        <result property="require" column="require"/>
        <result property="valueRegex" column="value_regex"/>
        <result property="refId" column="ref_id"/>
        <result property="refValue" column="ref_value"/>
        <result property="dataSource" column="data_source" />
    </resultMap>

    <sql id="param_key_query">
        `id`, `key`, `description`, `name`, `require`, `scope`,
        `default_value`, `value_type`, `value_regex`, `ref_id`, `ref_value`, `data_source`
    </sql>
    <sql id="param_key_query_en">
        `id`, `key`, `description_en` as `description`, `name_en` as `name`, `require`, `scope`,
        `default_value`, `value_type`, `value_regex`, `ref_id`, `ref_value`, `data_source`
    </sql>
    <select id="listByDataSourceType" resultMap="paramKeyMap" parameterType="Long">
        SELECT
        <include refid="param_key_query"/>
        FROM `linkis_ps_dm_datasource_type_key` WHERE `data_source_type_id` = #{dataSourceTypeId};
    </select>
    <select id="listByDataSourceTypeEn" resultMap="paramKeyMap" parameterType="Long">
        SELECT
        <include refid="param_key_query_en"/>
        FROM `linkis_ps_dm_datasource_type_key` WHERE `data_source_type_id` = #{dataSourceTypeId};
    </select>
    <select id="listByDataSourceTypeAndScope" resultMap="paramKeyMap">
        <![CDATA[SELECT ]]>
        <include refid="param_key_query"/>
        <![CDATA[ FROM `linkis_ps_dm_datasource_type_key`
        WHERE `data_source_type_id` = #{dataSourceTypeId} AND `scope` = #{scope};]]>
    </select>
</mapper>
