<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~ 
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~ 
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.apache.linkis.cs.persistence.dao.ContextMapMapper">

    <sql id="context_map">
        `id`,`key`,`context_scope`,`context_type`,`props`,`value`,`context_id`,`keywords`,`create_time`,`update_time`,`access_time`
    </sql>

    <insert id="createMap"
            parameterType="org.apache.linkis.cs.persistence.entity.PersistenceContextKeyValue">
        INSERT INTO linkis_ps_cs_context_map(<include refid="context_map"/>)
        VALUES (#{id},#{contextKey.key},#{contextKey.contextScope},#{contextKey.contextType},
        #{props},#{contextValue.valueStr},#{contextId},#{contextValue.keywords},#{createTime},#{updateTime},#{accessTime})
    </insert>

    <resultMap id="PersistenceContextKeyValue"
               type="org.apache.linkis.cs.persistence.entity.PersistenceContextKeyValue">
        <id column="id" property="id"></id>
        <result column="context_id" property="contextId"></result>
        <result column="props" property="props"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <association property="contextKey"
                     javaType="org.apache.linkis.cs.persistence.entity.PersistenceContextKey">
            <result column="key" property="key"></result>
            <result column="context_scope" property="contextScope"></result>
            <result column="context_type" property="contextType"></result>
            <result column="keywords" property="keywords"></result>
        </association>
        <association property="contextValue"
                     javaType="org.apache.linkis.cs.persistence.entity.PersistenceContextValue">
            <result column="value" property="valueStr"></result>
        </association>
    </resultMap>

    <select id="getContextMap" resultMap="PersistenceContextKeyValue">
        SELECT * FROM linkis_ps_cs_context_map
        <where>
            <if test="contextID.contextId != null">context_id = #{contextID.contextId}</if>
            <if test="contextKey.key != null">AND `key` = #{contextKey.key}</if>
        </where>
    </select>

    <select id="getAllContextMapByKey" resultMap="PersistenceContextKeyValue">
        SELECT * FROM linkis_ps_cs_context_map WHERE context_id = #{contextID.contextId} AND `key` LIKE CONCAT('%',#{key},'%')
    </select>


    <select id="getAllContextMapByContextID" resultMap="PersistenceContextKeyValue">
        SELECT * FROM linkis_ps_cs_context_map WHERE context_id = #{contextID.contextId}
    </select>

    <select id="getAllContextMapByScope" resultMap="PersistenceContextKeyValue">
        SELECT * FROM linkis_ps_cs_context_map WHERE context_id = #{contextID.contextId} AND context_scope = #{contextScope}
    </select>

    <select id="getAllContextMapByType" resultMap="PersistenceContextKeyValue">
        SELECT * FROM linkis_ps_cs_context_map WHERE context_id = #{contextID.contextId} AND context_type = #{contextType}
    </select>

    <select id="getAllContextMap" parameterType="org.apache.linkis.cs.persistence.entity.PersistenceContextKeyValue" resultMap="PersistenceContextKeyValue">
        SELECT * FROM linkis_ps_cs_context_map
        <where>
            <if test="id != null"> AND `id` = #{id}</if>
            <if test="contextKey != null and contextKey.key != null">  AND `key` = #{contextKey.key}</if>
            <if test="contextKey != null and contextKey.contextScope != null">  AND `context_scope` = #{contextKey.contextScope}</if>
            <if test="contextKey != null and contextKey.contextType != null">  AND `context_type` = #{contextKey.contextType}</if>
            <if test="props != null">  AND `props` = #{props}</if>
            <if test="contextValue != null and contextValue.valueStr != null">  AND `value` = #{contextValue.valueStr}</if>
            <if test="contextId != null">  AND `context_id` = #{contextId}</if>
            <if test="contextValue != null and contextValue.keywords != null">  AND `keywords` = #{contextValue.keywords}</if>
        </where>

    </select>

    <select id="getAllContextMapByTime" resultMap="PersistenceContextKeyValue">
        SELECT * FROM linkis_ps_cs_context_map
        <where>
            <if test="createTimeStart != null">  AND `create_time` >= #{createTimeStart}</if>
            <if test="createTimeEnd != null">  AND `create_time` <![CDATA[<=]]> #{createTimeEnd}</if>
            <if test="updateTimeStart != null">  AND `update_time` >= #{updateTimeStart}</if>
            <if test="updateTimeEnd != null">  AND `update_time` <![CDATA[<=]]> #{updateTimeEnd}</if>
            <if test="accessTimeStart != null">  AND `access_time` >= #{accessTimeStart}</if>
            <if test="accessTimeEnd != null">  AND `access_time` <![CDATA[<=]]> #{accessTimeEnd}</if>
        </where>
    </select>

    <delete id="removeContextMap">
        DELETE FROM linkis_ps_cs_context_map
        <where>
            <if test="contextID.contextId != null">context_id = #{contextID.contextId}</if>
            <if test="contextKey.key != null">AND `key` = #{contextKey.key}</if>
        </where>
    </delete>

    <delete id="removeAllContextMapByContextID">
        DELETE FROM linkis_ps_cs_context_map WHERE context_id = #{contextID.contextId}
    </delete>

    <delete id="removeAllContextMapByType">
        DELETE FROM linkis_ps_cs_context_map WHERE context_id = #{contextID.contextId} AND context_type = #{contextType}
    </delete>

    <delete id="removeAllContextMapByScope">
        DELETE FROM linkis_ps_cs_context_map WHERE context_id = #{contextID.contextId} AND context_scope = #{contextScope}
    </delete>

    <update id="updateMap"
            parameterType="org.apache.linkis.cs.persistence.entity.PersistenceContextKeyValue">
        UPDATE linkis_ps_cs_context_map
        <set>
            <if test="contextKey.contextScope != null">`context_scope` = #{contextKey.contextScope},</if>
            <if test="contextKey.contextType != null">`context_type` = #{contextKey.contextType},</if>
            <if test="contextValue.valueStr != null">`value` = #{contextValue.valueStr},</if>
            <if test="contextValue.keywords != null">`keywords` = #{contextValue.keywords},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="accessTime != null">`access_time` = #{accessTime},</if>
        </set>
        WHERE context_id = #{contextId} AND `key` = #{contextKey.key}
    </update>

    <delete id="removeByKeyPrefix">
        delete from linkis_ps_cs_context_map
        <where>
            <if test="#{contextID.contextId} !=null">context_id = #{contextID.contextId} and </if>
            <!--<if test="#{contextType} !=null">context_type = #{contextType} and </if>-->
            <if test="#{keyPrefix} !=null">`key` like concat(#{keyPrefix},'%')</if>
        </where>
    </delete>
    <!--todo 和上面的合并sql-->
    <delete id="removeByKeyPrefixAndContextType">
        delete from linkis_ps_cs_context_map
        <where>
            <if test="#{contextID.contextId} !=null">context_id = #{contextID.contextId} and </if>
            <if test="#{contextType} !=null">context_type = #{contextType} and </if>
            <if test="#{keyPrefix} !=null">`key` like concat(#{keyPrefix},'%')</if>
        </where>
    </delete>

    <delete id="removeByKeyAndContextType">
        delete from linkis_ps_cs_context_map
        <where>
            <if test="#{contextID.contextId} !=null">context_id = #{contextID.contextId} and </if>
            <if test="#{contextType} !=null">context_type = #{contextType} and </if>
            <if test="#{keyStr} !=null">`key` = #{keyStr}</if>
        </where>
    </delete>

</mapper>