<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.linkis.basedatamanager.server.dao.DatasourceTypeMapper">

    <resultMap id="BaseResultMap" type="org.apache.linkis.basedatamanager.server.domain.DatasourceTypeEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="option" column="option" jdbcType="VARCHAR"/>
            <result property="classifier" column="classifier" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="layers" column="layers" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`name`,`description`,
        `option`,`classifier`,`icon`,
        `layers`
    </sql>

    <select id="getListByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
         from linkis_ps_dm_datasource_type
        <if test="searchName != null and searchName!=''">
              WHERE `name` LIKE concat('%',#{searchName},'%')
            OR `description` LIKE concat('%',#{searchName},'%')
            OR `option` LIKE concat('%',#{searchName},'%')
            OR `classifier` LIKE concat('%',#{searchName},'%')
        </if>
    </select>
</mapper>
