<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.linkis.bml.dao.BmlProjectDao">

    <resultMap id="bml_Project_Query" type="org.apache.linkis.bml.entity.BmlProject">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="createNewProject" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="org.apache.linkis.bml.entity.BmlProject">
        insert into linkis_ps_bml_project(name, system, source, description, creator, enabled, create_time)
        values(#{bmlProject.name}, #{bmlProject.system}, #{bmlProject.source}, #{bmlProject.description},
        #{bmlProject.creator}, #{bmlProject.enabled}, #{bmlProject.createTime}) on conflict (name) do nothing
    </insert>

    <select id="getBmlProject" resultMap="bml_Project_Query" parameterType="org.apache.linkis.bml.entity.BmlProject">
        select * from linkis_ps_bml_project where name = #{projectName}
    </select>

    <select id="getPrivInProject" resultType="java.lang.Integer" parameterType="java.lang.String">
        select a.priv from linkis_ps_bml_project_user a join linkis_ps_bml_project b on
        a.project_id = b.id and b.name = #{projectName} and a.username = #{username}
    </select>

    <select id="getProjectNameByResourceId" resultType="java.lang.String" parameterType="java.lang.String">
        select a.name from linkis_ps_bml_project a join
        linkis_ps_bml_project_resource b on b.resource_id = #{resourceId} and a.id = b.project_id
    </select>

    <select id="getProjectIdByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id from linkis_ps_bml_project where name = #{projectName}
    </select>

    <select id="checkIfExists" resultType="java.lang.Integer">
        select count(*) from linkis_ps_bml_project_resource where project_id = #{projectId} and resource_id = #{resourceId}
    </select>

    <insert id="setProjectPriv">
        insert into  linkis_ps_bml_project_user(project_id, username, priv, creator, create_time)
        values
        <foreach collection='usernames' item='username' open='(' separator='),(' close=')'>
            #{projectId}, #{username}, #{priv}, #{creator}, #{createTime}
        </foreach>
        on conflict (username,project_id) do nothing
    </insert>

    <insert id="addProjectResource">
        insert into linkis_ps_bml_project_resource(project_id, resource_id)
        values(#{projectId}, #{resourceId})
    </insert>

    <insert id="attachResourceAndProject">
        insert into linkis_ps_bml_project_resource(project_id, resource_id)
        values(#{projectId}, #{resourceId})
    </insert>

    <delete id="deleteAllPriv"  parameterType="java.lang.Integer">
        delete from linkis_ps_bml_project_user where project_id = #{projectId}
    </delete>


</mapper>

