/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '@/common/style/variables.scss';
.resource-title {
  font-size: 16px;
  margin: 10px 0;
  .title-text {
    margin-right: 15px;
  }
  .title-icon {
    color: $link-color;
    cursor: pointer;
  }
}
.table-content {
  height: calc(100% - 107px);
  margin-top: 15px;
  border: 0;
  .latestVersion {
    padding:  0 10px;
    background-color: #169bd5;
    border-radius: $border-radius-small;
    overflow: hidden;
    display: inline-block;
  }
}
td.table-name-column {
  .workflow-name {
    color: $primary-color;
    cursor: pointer;
  }
}
::v-deep .table-project-column {
  text-align: center;
  .ivu-table-cell {
    display: inline-block;
    padding: 0 10px!important;
  }
}
td.table-project-column {
  color: $success-color;
}
.page-bar {
  text-align: center;
  padding: 10px 0;
}
.appListTitle {
  margin-top: 30px;
}
.appListTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .resourceList,
  .tagName {
    flex: none;
    margin-right: 20px;
  }
  .instanceNum {
    flex: 1
  }
  .span-white-space{
    padding-right: 10px;
  }
}
::v-deep .addTagClass {
  position: relative;
  z-index: 99;
}
.label-normal {
  color: $success-color
}
.label-warn {
  color: $warning-color
}
.label-critical {
  color: $error-color
}


.table-content {
  // width: 100% !important;
  margin-top: 15px;
  .latestVersion {
    padding:  0 10px;
    background-color: #169bd5;
    border-radius: $border-radius-small;
    overflow: hidden;
    display: inline-block;
  }
}
td.table-name-column {
  .workflow-name {
    color: $primary-color;
    cursor: pointer;
  }
}
::v-deep .table-project-column {
  text-align: center;
  .ivu-table-cell {
    display: inline-block;
    padding: 0 10px!important;
  }
}
td.table-project-column {
  color: $success-color;
}
.page-bar {
  text-align: center;
  padding: 10px 0;
}
::v-deep .addTagClass {
  position: relative;
  z-index: 99;
}
.ecm, .ecmEngine {
  height: 100%;
  overflow: hidden;
  ::v-deep .ivu-tag {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  ::v-deep .ivu-tooltip-inner {
    max-width: 100%;
  }
}
