<?xml version="1.0" encoding="UTF-8"?>
  <!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.linkis.datasourcemanager.core.dao.DataSourceVersionDao">
    <resultMap id="dataSourceVersionMap" type="org.apache.linkis.datasourcemanager.common.domain.DatasourceVersion">
        <result property="versionId" column="version_id"/>
        <result property="datasourceId" column="datasource_id"/>
        <result property="parameter" column="parameter"/>
        <result property="comment" column="comment"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
    </resultMap>

    <sql id="datasource_version_insert_columns">
        `version_id`, `datasource_id`, `parameter`, `comment`, `create_time`, `create_user`
    </sql>
    <update id="updateByDatasourceVersion">
        update linkis_ps_dm_datasource_version set parameter = #{parameter}
        where datasource_id = #{datasourceId} and version_id = #{versionId}
    </update>

    <select id="getLatestVersion" resultType="java.lang.Long">
        SELECT ifnull(max(version_id),0 ) FROM `linkis_ps_dm_datasource_version` WHERE datasource_id = #{dataSourceId};
    </select>

    <insert id="insertOne" parameterType="org.apache.linkis.datasourcemanager.common.domain.DatasourceVersion">
        INSERT INTO `linkis_ps_dm_datasource_version`(
        <include refid="datasource_version_insert_columns"/>
        ) VALUES(#{versionId}, #{datasourceId}, #{parameter}, #{comment},
        <choose>
            <when test="createTime == null">
                now(),
            </when>
            <otherwise>
                #{createTime,jdbcType=TIMESTAMP},
            </otherwise>
        </choose>
        #{createUser})
    </insert>

    <select id="selectOneVersion" resultType="java.lang.String">
        SELECT `parameter`
         FROM `linkis_ps_dm_datasource_version` WHERE datasource_id = #{dataSourceId} and `version_id` = #{version, jdbcType=INTEGER};
    </select>

    <select id="getVersionsFromDatasourceId" resultMap="dataSourceVersionMap">
        SELECT
        <include refid="datasource_version_insert_columns"/>
        FROM `linkis_ps_dm_datasource_version` WHERE datasource_id = #{dataSourceId};
    </select>

    <delete id="removeFromDataSourceId">
        DELETE FROM `linkis_ps_dm_datasource_version`
        <where>
            `datasource_id` = #{dataSourceId}
        </where>
    </delete>
</mapper>