<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.apache.linkis.instance.label.dao.InstanceInfoDao">

    <resultMap id="instanceInfoMap" type="org.apache.linkis.instance.label.entity.InstanceInfo">
        <result property="id" column="id"/>
        <result property="instance" column="instance"/>
        <result property="applicationName" column="name"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insertOne" parameterType="org.apache.linkis.instance.label.entity.InstanceInfo">
        INSERT INTO "linkis_ps_instance_info"("instance", "name")
        VALUES(#{instance}, #{applicationName}) on conflict(instance) do update set name=excluded.name
    </insert>

    <delete id="removeInstance" parameterType="org.apache.linkis.common.ServiceInstance">
        DELETE FROM linkis_ps_instance_info WHERE instance = #{instance}
    </delete>

    <update id="updateInstance" parameterType="org.apache.linkis.instance.label.entity.InstanceInfo">
        UPDATE linkis_ps_instance_info
        <set>
            <if test="#{applicationName} != null">name = #{applicationName},</if>
            <if test="#{instance} != null">instance = #{instance},</if>
            <if test="#{updateTime != null}">update_time = #{updateTime}</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getInstanceInfoByServiceInstance" parameterType="org.apache.linkis.common.ServiceInstance" resultMap="instanceInfoMap">
        SELECT * FROM linkis_ps_instance_info
        WHERE name = #{applicationName} AND instance = #{instance}
    </select>

</mapper>