<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.linkis.basedatamanager.server.dao.ConfigurationConfigKeyMapper">
    <!-- query config key list by engine label id -->
    <select id="getTemplateListByLabelId"
            resultType="org.apache.linkis.basedatamanager.server.domain.ConfigurationConfigKey"
            parameterType="java.lang.String">
        select k.id,
               k."key",
               k.description,
               k."name",
               k.default_value,
               k.validate_type,
               k.validate_range,
               k.engine_conn_type,
               k.is_hidden::int hidden,
               k.is_advanced::int advanced,
               k."level",
               k."treeName"
        from linkis_ps_configuration_config_key k
                 inner join linkis_ps_configuration_key_engine_relation r
                            on k.id = r.config_key_id
        where r.engine_type_label_id = cast(#{engineLabelId} as int);
    </select>

    <insert id="insert" parameterType="org.apache.linkis.basedatamanager.server.domain.ConfigurationConfigKey">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT currval('linkis_ps_configuration_config_key_id_seq')
        </selectKey>
        INSERT INTO linkis_ps_configuration_config_key (
        key, description, name, engine_conn_type, default_value, validate_type, validate_range, is_hidden, is_advanced, level, "treeName")
        VALUES (
        #{key}, #{description}, #{name}, #{engineConnType}, #{defaultValue}, #{validateType}, #{validateRange}, cast(#{hidden} as bool), cast(#{advanced} as bool), #{level}, #{treeName})
    </insert>

    <update id="updateById" parameterType="org.apache.linkis.basedatamanager.server.domain.ConfigurationConfigKey">
        UPDATE linkis_ps_configuration_config_key
        <set>
            <if test="et.key != null">"key" = #{et.key},</if>
            <if test="et.description != null">description = #{et.description},</if>
            <if test="et.name != null">name = #{et.name},</if>
            <if test="et.engineConnType != null">engine_conn_type = #{et.engineConnType},</if>
            <if test="et.defaultValue != null">default_value = #{et.defaultValue},</if>
            <if test="et.validateType != null">"validate_type" = #{et.validateType},</if>
            <if test="et.validateRange != null">validate_range = #{et.validateRange},</if>
            <if test="et.hidden != null">is_hidden = cast(#{et.hidden} as bool),</if>
            <if test="et.advanced != null">is_advanced = cast(#{et.advanced} as bool),</if>
            <if test="et.treeName != null">"treeName" = #{et.treeName}</if>
        </set>
        WHERE id = #{et.id}
    </update>
</mapper>
