/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
.global-valiable {
    overflow: auto;
    .global-valiable-form {
        overflow-y: auto;
    }
    .global-valiable-control {
        text-align: right;
        padding-right: 20px;
        margin-bottom: 20px;
        button {
            margin-left: 20px;
        }
    }
    .global-valiable-tc {
        text-align: center;
    }
    .global-valiable-remove {
        padding-left: 20px;
    }
    .global-valiable-empty {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    .global-valiable-add {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}
