/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

:root {
  // 黑色
  --black-color: #0f1222;
  // 蓝色
  --blue-color: #5384ff;
  // 红色
  --red-color: #f75f56;
  // 橙色
  --orange-color: #ff9540;
  // 黄色
  --yellow-color: #fbc731;
  // 绿色
  --green-color: #00cb91;
  // 提示文案颜色
  --tips-color: rgba(15, 18, 34, 0.3);
  // 禁用色
  --disabled-color: rgba(15, 18, 34, 0.65);
  // 占位符字体颜色
  --placeholder-color: #cfd0d3;
  // 表单label颜色
  --label-color: #646670;
  
  // 成功的颜色
  --success-color: --green-color;
  // 警告的颜色
  --warn-color: #ff953b;
  // 失败的颜色
  --fail-color: --red-color;
  
  // 字体大小
  
  // 常规
  --font-regular-size: 14px;
  
  // 字体粗细
  
  // 常规
  --font-regular-weight: 400;
}
