/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
@import '@/common/style/variables.scss';
.progress-wrap {
    position: $relative;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
    background: $background-color-base;
    border-radius: 10px;
    .progress-busy {
        background: $success-color;
        height: 100%;
        border-radius: 10px;
        position: $absolute;
        z-index: 0;
    }
    .progress-label {
        width: 100%;
        z-index: 1;
    }
}
.global-history {
    position: $relative;
    height: 100%;
    .global-history-searchbar {
        position: $relative;
        .search-btns {
            display: inline-block;
            vertical-align: top;
            .search-btn {
                margin: 0 10px 10px 0
            }
        }
        .searchbar-items {
            display: inline-block;
            .searchbar-item {
                display: inline-block;
                margin-right: 4px;
                margin-bottom: 10px;
                .ivu-input-suffix {
                    display: none;
                }
                .ivu-input-with-suffix {
                    padding-right: 0;
                }
                .label {
                    text-align: right;
                    vertical-align: middle;
                    float: left;
                    font-size: 12px;
                    color: #515a6e;
                    line-height: 1;
                    padding: 10px 12px 10px 0;
                    box-sizing: border-box;
                }
            }
        }
        
        
    }
    .ivu-form {
        display: flex;
        .ivu-form-item {
            margin-right: 4px;
            margin-bottom: 10px;
            .ivu-form-item-content {
                display: flex !important;
            }
        }
        .ivu-input-with-suffix {
            padding-right: 7px;
        }
    }
    .global-history-table {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        .ivu-table th {
            background-color: $table-thead-blue-bg;
            color: $body-background;
        }
    }
    .global-history-loading {
        animation: ani-demo-spin 1s linear infinite;
    }
    .divider {
        margin-top: 7px;
        height: 20px;
    }
    .global-history-page {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}
.datepicker {
    .ivu-picker-panel-body {
        background-color: $background-color-white;
    }
    .ivu-icon {
        display: none;
    }
}
.workbench-log-view {
    height: calc(100% - 76px) !important;
    .log-tools {
        height: 36px;
        line-height: 36px;
        padding-left: 10px;
        background: $background-color-base;
        position: $relative;
        border-bottom: 2px solid $border-color-base;
        overflow: hidden;
        margin-bottom: -2px;
        .log-tools-control {
            display: inline-block;
            position: $absolute;
            top: 2px;
            .log-tabs {
                display: inline-block;
                position: $absolute;
            }
            .log-search {
                width: 100px;
                position: $absolute;
                left: 350px;
                top: 5px;
                font-size: $font-size-small;
            }
            .err-badge {
                background: $error-color !important;
            }
            .warn-badge {
                background: $yellow-color !important;
            }
        }
    }
}

.render-btn {
    padding: 1px 0 2px 0 !important;
}