.menu-wrapper {
  width: 200px;
  height: 100vh;
}

#menu {
  padding-top: 16px;
  height: 100%;
}

.title-text {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #0F1222;
  text-align: justify;
  line-height: 22px;
  font-weight: 400;
}