<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.apache.linkis.configuration.dao.DepartmentTenantMapper">

    <resultMap id="TenantMap" type="org.apache.linkis.configuration.entity.DepartmentTenantVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="department_id" property="departmentId" jdbcType="VARCHAR"/>
        <result column="tenant_value" property="tenantValue" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="is_valid" property="isValid" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Tenant_Column_List">
        id,creator,department_id,department,tenant_value,create_time,update_time,create_by,is_valid
    </sql>

    <sql id="Tenant_insert_Column_List">
       creator,department_id,department,tenant_value,create_time,update_time,create_by,is_valid
    </sql>

    <insert id="insertTenant" parameterType="org.apache.linkis.configuration.entity.DepartmentTenantVo">
        INSERT INTO linkis_cg_tenant_department_config(<include refid="Tenant_insert_Column_List"/>) VALUES (
        #{creator},
        #{departmentId},
        #{department},
        #{tenantValue},
        #{createTime},
        #{updateTime},
        #{createBy},
        #{isValid}
        )
    </insert>

    <select id="queryTenantList" resultMap="TenantMap">
        select <include refid="Tenant_Column_List"/>
        from linkis_cg_tenant_department_config
        <where>
            <if test="creator != null"> creator = #{creator}</if>
            <if test="department != null">and department = #{department}</if>
            <if test="departmentId != null">and department_id = #{departmentId}</if>
            <if test="tenantValue != null">and tenant_value = #{tenantValue}</if>
        </where>
    </select>



    <update id="updateTenant" parameterType="org.apache.linkis.configuration.entity.DepartmentTenantVo">
        UPDATE linkis_cg_tenant_department_config
        <trim prefix="set" suffixOverrides=",">
            <if test="creator != null">creator = #{creator},</if>
            <if test="department != null ">department = #{department},</if>
            <if test="departmentId != null ">department_id = #{departmentId},</if>
            <if test="tenantValue != null">tenant_value = #{tenantValue},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="isValid != null">is_valid = #{isValid}</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteTenant">
        DELETE FROM linkis_cg_tenant_department_config
        WHERE id =  #{id}
    </delete>

    <select id="queryTenant" resultType="org.apache.linkis.configuration.entity.DepartmentTenantVo">
        select <include refid="Tenant_Column_List"/>
        from linkis_cg_tenant_department_config
        <where>
            <if test="creator != null"> creator = #{creator}</if>
            <if test="departmentId != null"> and department_id = #{departmentId}</if>
            <if test="department != null ">and department = #{department}</if>
        </where>
    </select>
</mapper>