<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~ 
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~ 
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.apache.linkis.configuration.dao.LabelMapper">

    <resultMap id="LabelMap" type="org.apache.linkis.configuration.entity.ConfigLabel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="label_key" property="labelKey" jdbcType="VARCHAR"/>
        <result column="label_value" property="stringValue" jdbcType="VARCHAR"/>
        <result column="label_feature" property="feature" jdbcType="VARCHAR"/>
        <result column="label_value_size" property="labelValueSize" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Label_Column_List">
        id, label_key, label_value, label_feature,label_value_size, update_time,create_time
    </sql>

    <sql id="LabelRel_Column_List">
        label_value_key, label_value_content, label_id, update_time, create_time
    </sql>

    <select id="getLabelById" resultMap="LabelMap">
        SELECT <include refid="Label_Column_List"/>
        FROM linkis_cg_manager_label
        WHERE id = #{id}
    </select>

    <select id="getLabelByKeyValue" resultMap="LabelMap">
        SELECT <include refid="Label_Column_List"/>
        FROM linkis_cg_manager_label
        WHERE label_key = #{labelKey} AND label_value = #{stringValue}
    </select>

    <insert id="insertLabel" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="org.apache.linkis.configuration.entity.ConfigLabel">
        INSERT INTO linkis_cg_manager_label(
        label_key, label_value,label_feature, label_value_size, update_time, create_time)
        VALUES (
        #{labelKey}, #{stringValue}, #{feature}, #{labelValueSize}, now(), now())
    </insert>

    <delete id="deleteLabel">
        DELETE FROM linkis_cg_manager_label
        WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>








</mapper>